@charset "utf-8";

/* css */
body {
  /* background: url(../images/bg-body.jpg) repeat; */
  width: 700px;
}
.wrap {
  padding: 2rem;
  margin: auto;
}
.chat-box {
  margin-top: 2rem;
}
.chat-area {
  margin-bottom: 1rem;
}
.chat-faceImg {
  display: inline;
  position: relative;
  top: 1rem;
  padding: 28px 40px;
  border-radius: 50%;
  background-color: #aaa;
}
.chat-faceImg::before {
  position: absolute;
  content: "大竹";
  bottom: -20px;
  left: 27px;
  font-size: 0.8rem;
}
.chat-msgArea {
  margin-left: 100px;
}
.chat-ansArea {
  text-align: right;
  margin-bottom: 1rem;
}
/* 吹き出し一つ分 */
.chat-message,
.chat-answer {
  position: relative;
  display: inline-block;
  border-radius: 1.2rem;
  padding: 0rem 1rem;
  margin: 0.3rem 0;
}
.chat-message {
  border: 2px solid #19e;
}
.chat-answer {
  background-color: #099;
  color: #fff;
  text-align: left;
  margin-right: 0;
}
.chat-message-before,
.chat-answer-after {
  position: absolute;
  content: "";
  top: 1px;
  width: 12px;
  height: 12px;
}
.chat-message-before {
  left: -6px;
  background-color: #fff;
  border-top: 2px solid #19e;
  border-left: 2px solid #19e;
  transform: skew(30deg, 10deg);
}
.chat-answer-after {
  top: 3px;
  right: 0px;
  border: 5px solid transparent;
  border-top: 15px solid #099;
  transform: skew(150deg, 170deg);
}
.chat-answer-read {
  position: absolute;
  bottom: 0;
  left: -2rem;
  width: 1.6rem;
  font-size: 0.8rem;
  color: #000;
}
.chat-message p,
.chat-answer p {
  font-size: 1.1rem;
  margin: 0.5rem;
}

/* チャットローディングアニメーション */
.loading-icon {
  position: relative;
  display: inline-block;
  width: 4rem;
}
.loading-icon > span {
  position: absolute;
  top: -15px;
  width: 1.2rem;
  height: 1.2rem;
  background-color: #555;
  border-radius: 50%;
  font-size: 1rem;
  transform: scale(.7);
}
.loading-circle1 {
  animation: rlc1 .8s linear infinite;
}
@keyframes rlc1 {
  0% {
    margin-top: -6px;
  }
  25% {
    margin-top: 0px;
    opacity: .7;
  }
  50% {
    margin-top: 6px;
  }
  75% {
    margin-top: 0px;
    opacity: .3;
  }
  100% {
    margin-top: -6px;
  }
}
.loading-circle2 {
  animation: rlc2 .8s linear infinite;
  margin-left: 1.2rem;
}
@keyframes rlc2 {
  0% {
    margin-top: 0px;
    opacity: .3;
  }
  25% {
    margin-top: -6px;
  }
  50% {
    margin-top: 0px;
  }
  75% {
    margin-top: 6px;
    opacity: .7;
  }
  100% {
    margin-top: 0px;
  }
}
.loading-circle3 {
  animation: rlc3 .8s linear infinite alternate;
  margin-left: 2.4rem;
}
@keyframes rlc3 {
  0% {
    margin-top: 6px;
    opacity: .7;
  }
  25% {
    margin-top: 0px;
  }
  50% {
    margin-top: -6px;
    opacity: .3;
  }
  75% {
    margin-top: 0px;
  }
  100% {
    margin-top: 6px;
  }
}

.chat-select-opt2,
.chat-select-opt {
  display: flex;
  justify-content: space-around;
  background-color: rgb(0, 200, 250 , 30%);
  padding: 1rem;
}
.chat-select-opt2,
.chat-select-opt {
  gap: 1.5rem;
}
.chat-option {
  flex: 1;
  cursor: pointer;
  text-align: center;
  padding: 3rem 0;
  border: 2px solid #066;
  border-radius: 0.6rem;
  box-shadow: 0px 3px #0bd;
  background-color: #fff;
}
.chat-option:hover {
  border: 2px solid #aaa;
  background-color: #0ba;
  color: #fff;
}
.option-title {
  font-weight: bold;
}
.chat-select-opt2 .option-title {
  font-size: 1.5rem;
}
