<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
        <div id="app">
            <div class="wrap">
                <div class="chat-box">
                    <!-- しっかり/ざっくりの場合 -->
                    <advise-area v-show="list[0].type === 'type0'" :show="list[0].show[0]">
                        <adviser-img :show="list[0].show[0]"></adviser-img>
                        <advise-message :show="list[0].show[0]">{{ list[0].msg0[0] }}</advise-message>
                        <advise-message :show="list[0].show[1]">{{ list[0].msg0[1] }}</advise-message>
                    </advise-area>
                    <div v-show="firstOpt[0]" class="chat-select-opt2">
                        <a @click="fstSelectFunc" data-opt="ざっくり計算" class="chat-option">
                            <p data-opt="ざっくり計算" class="option-title">ざっくり計算</p>
                            <p data-opt="ざっくり計算" class="option-detail">広さや形状から<br>おおまかに</p>
                        </a>
                        <a @click="fstSelectFunc" data-opt="しっかり計算" class="chat-option">
                            <p data-opt="しっかり計算" class="option-title">しっかり計算</p>
                            <p data-opt="しっかり計算" class="option-detail">欲しい機能や<br>設備も入れて</p>
                        </a>
                    </div>
                    <answer-message :show="firstOpt[1]" :message="list[0].selected"></answer-message>
                    <!-- しっかり計算の場合 -->
                    <advise-area :show="firstOptA[0]">
                        <adviser-img :show="firstOptA[0]"></adviser-img>
                        <advise-message :show="firstOptA[0]">かしこまりました。</advise-message>
                        <advise-message :show="firstOptA[1]">一戸建てのお風呂リフォーム相場は</advise-message>
                        <img v-show="firstOptA[2]" src="" alt="300万円">
                        <img v-show="firstOptA[3]" src="" alt="最高">
                        <img v-show="firstOptA[4]" src="" alt="10万円">
                        <img v-show="firstOptA[5]" src="" alt="最安">
                        <advise-area :show="firstOptA[6]">
                            <adviser-img :show="firstOptA[6]"></adviser-img>
                            <advise-message :show="firstOptA[7]">データをもとに、あなたの相場をしっかり計算します。</advise-message>
                        </advise-area>
                        <!-- ↑↑ここまで↑↑ しっかり計算の場合 -->
                    </advise-area>
                    <!-- ざっくり計算の場合 -->
                    <advise-area :show="firstOptB[0]">
                        <adviser-img :show="firstOptB[0]"></adviser-img>
                        <advise-message :show="firstOptB[0]">かしこまりました。</advise-message>
                        <advise-message :show="firstOptB[1]">データをもとに、あなたの相場をざっくり計算します。</advise-message>
                    </advise-area>
                    <!-- ↑↑ここまで↑↑ ざっくり計算の場合 -->
                    <!-- ↑↑ここまで↑↑ しっかり/ざっくりの場合 -->
                    <template v-for="item in newList">
                        <!-- メッセージ -->
                        <advise-area :show="item.show[0]" :data-scr1="item.name">
                            <adviser-img :show="item.show[0]"></adviser-img>
                            <advise-message :show="item.show[0]">{{ item.msg0[0] }}</advise-message>
                            <advise-message :show="item.show[1]">{{ item.msg0[1] }}</advise-message>
                        </advise-area>
                        <advise-area :show="item.show[2]">
                            <adviser-img :show="item.show[2]" :data-scr2="item.name"></adviser-img>
                            <advise-message :show="item.show[2]">{{ item.msg[0] }}</advise-message>
                            <advise-message :show="item.show[3]">{{ item.msg[1] }}</advise-message>
                        </advise-area>
                        <!-- 選択肢 -->
                        <div v-show="item.show[4]" class="chat-select-opt" :data-scr2="item.name">
                            <template v-for="value in item.options">
                                <a @click="selectFunc" :data-name="item.name" :data-opt="value" class="chat-option">
                                    <p :data-name="item.name" :data-opt="value" class="option-title">{{ value }}</p>
                                </a>
                            </template>
                        </div>
                        <!-- 都道府県選択用 -->
                        <div v-show="prefShow" class="chat-select-opt" :data-scr2="item.name">
                            <template v-for="value in prefList">
                                <a @click="prefClick" :data-name="item.name" :data-opt="value" class="chat-option">
                                    <p :data-name="item.name" :data-opt="value" class="option-title">{{ value }}</p>
                                </a>
                            </template>
                        </div>
                        <!-- 市町村選択用 -->
                        <div v-show="cityShow">
                            <p>市区町村</p>
                            <ul>
                                <li v-for="value in cityList">
                                    <a @click="selectFunc" :data-name="item.name" :data-opt="value['name']">
                                        {{ value['name'] }}
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- 答え -->
                        <answer-message :show="item.show[5]" :message="item.selected"></answer-message>
                    </template>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue@3.2.29/dist/vue.global.js"></script>
        <script src="js/dummy.js"></script>
    </body>
</html>
