<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>チャットツール</title>
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
        <div id="app">
            <div class="wrap">
                <div class="chat-box">

                    <!-- アドバイザー -->
                    <div class="chat-area">
                        <!-- アドバイザー画像 -->
                        <adviser-img></adviser-img>
                        <!-- アドバイザーメッセージ -->
                        <advise-message
                            v-show="advMesShow"
                            v-for="msg in newAdv"
                            v-bind:message="msg"
                        ></advise-message>
                    </div>
                    
                    <!-- 選択肢２つVer. -->
                    <double-option
                        v-show="dbOpt"
                        v-for="msg in dbOptList"
                        v-bind:message="msg"
                        v-on:click.once="opt2Func"
                    ></double-option>
                    <!-- 選択肢３つVer. -->
                    <triple-option
                        v-show="tpOpt"
                        v-for="msg in tpOptList"
                        v-bind:message="msg"
                        v-on:click.once="opt3Func"
                    ></triple-option>

                    <div class="chat-area">
                        <!-- 選択後メッセージ -->
                        <answer-message
                            v-show="ansMesShow"
                            v-for="msg in ansMesList"
                            v-bind:message="msg"
                        ></answer-message>
                    </div>

                </div>
                <!-- / .chat-box -->
            </div>
            <!-- / .wrap -->
        </div>
        <!-- / #app -->
        <script src="https://cdn.jsdelivr.net/npm/vue@3.2.29/dist/vue.global.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
